bin/
.cache
.DS_Store
target/
/.classpath
/.project
src/test/scala/ca/uwaterloo/correlated/inputPrograms/*/*.jar
src/test/scala/ca/uwaterloo/ide/cp/inputPrograms/*/*.jar
src/test/scala/ca/uwaterloo/ide/taint/inputPrograms/*/*.jar
*.conf