target/
src/test/scala/ca/uwaterloo/dataflow/ide/taint/inputPrograms/*/*.jar
*.class
src/test/resources/ca/uwaterloo/dataflow/ide/taint/*.conf
src/test/resources/ca/uwaterloo/dataflow/benchmarks/dacapo/*.conf
.idea/
.idea_modules
projectFilesBackup