bin/
.cache
.DS_Store
target/
/.classpath
/.project
src/test/scala/ca/uwaterloo/dataflow/correlated/stats/inputPrograms/*/*.jar
src/test/scala/ca/uwaterloo/dataflow/ide/cp/inputPrograms/*/*.jar
src/test/scala/ca/uwaterloo/dataflow/ide/taint/inputPrograms/*/*.jar
src/test/scala/ca/uwaterloo/dataflow/correlated/stats/inputPrograms/*/*.class
src/test/scala/ca/uwaterloo/dataflow/ide/cp/inputPrograms/*/*.class
src/test/scala/ca/uwaterloo/dataflow/ide/taint/inputPrograms/*/*.class
*.conf
.idea/
.idea_modules